@import url('http://fonts.googleapis.com/css?family=Open+Sans:300');

svg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 40px;
    height: 100%;
    height: calc(100% - 40px);
    width: 100%;
    font-family: 'Open Sans', sans-serif
}

svg #Datos {
    font-family: 'Consolas', monospace
}

#full {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    z-index: 20
}

#full .full_pre {
    display: table-cell;
    vertical-align: middle
}

#full #full_code {
    display: table;
    margin: auto;
    max-width: 580px;
    padding: 20px 40px;
    background: #fff
}

#full #full_code span.c1 {
    color: #00f
}

#full #full_code span.c2 {
    color: #f00
}

#full #full_code span.c3 {
    color: #0c0
}

#full #full_code .pointer,
#full #full_code label {
    cursor: pointer
}

#full #full_code input {
    display: none
}

#full #full_code input~span.c3 {
    display: none
}

#full #full_code input:checked~span.c2 {
    display: none
}

#full #full_code input:checked~span.c3 {
    display: inline
}

#info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10
}

#info .info_open {
    background: #2c3e50;
    padding: 14px 0 16px;
    text-align: center
}

#info .info_open button {
    background: #34495e;
    margin: 0 10px;
    padding: 8px 28px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 100%;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    cursor: pointer;
    border: none;
    box-shadow: 0 1px #485b6e, 0 2px #485b6e, 0 3px #485b6e;
    outline: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

#info .info_open button:hover {
    background: #32465a
}

#info .info_cont {
    background: #34495e;
    color: #fff;
    max-height: 200px;
    -webkit-transition: all 1s ease 0;
    -moz-transition: all 1s ease 0;
    transition: all 1s ease 0
}

#info .info_cont code {
    display: block;
    max-width: 600px;
    padding: 20px;
    margin: auto;
    font-size: 16px;
    font-family: 'Consolas', monospace
}

#info .info_cont code span {
    color: #b6dfff
}

#info .info_cont code a {
    color: inherit;
    text-decoration: none
}

#info .info_cont code a:hover {
    text-decoration: underline
}

#info.fclosed .info_cont,
#info.closed .info_cont {
    visibility: hidden;
}

@media all and (max-width:800px) {
    #info .info_open button {
        font-size: 16px
    }
}

@media all and (max-width:700px) {
    #info .info_open button {
        font-size: 15px
    }
}

@media all and (max-width:650px) {
    #info .info_open button {
        font-size: 14px
    }
}

@media all and (max-width:620px) {
    #info .info_open button {
        font-size: 13px
    }
}